RewriteEngine On    # Turn on the rewriting engine

<IfModule mod_headers.c>    
  Header add Access-Control-Allow-Origin "*" 
</IfModule>

<FilesMatch ".(eot|ttf|otf|woff)">
    Header set Access-Control-Allow-Origin "*"
</FilesMatch>

RewriteRule    ^privacy/?$    default/source/workflow/privacy/privacy.php
RewriteRule    ^terms/?$    default/source/workflow/terms/terms.php

RewriteRule    ^doctor/?$    default/source/workflow/doctor/doctor.php
RewriteRule    ^doctor/([^/]+)/([^/]+)/?$    default/source/workflow/doctor/doctor-list.php?categoryId=$2
RewriteRule    ^doctor-details/([^/]+)/([^/]+)/?$    default/source/workflow/doctor/doctor-details.php?doctorId=$2
RewriteRule    ^booking/?$    default/source/workflow/booking/booking.php
RewriteRule    ^booking/confirm/?$    default/source/workflow/booking/confirm.php
RewriteRule    ^login/?$    default/source/workflow/login/login.php
RewriteRule    ^register/?$    default/source/workflow/login/register.php
RewriteRule    ^contact/?$    default/source/workflow/contact/contact-us.php
RewriteRule    ^add-contact/?$    default/source/workflow/contact/add-contact.php


RewriteRule    ^admin/?$    administrator/source/index.php
RewriteRule    ^admin/users?$    administrator/source/users/users.php
RewriteRule    ^admin/login?$    administrator/source/login/login.php
RewriteRule    ^admin/logout?$    administrator/source/login/logout.php
RewriteRule    ^admin/dashboard?$    administrator/source/dashboard/dashboard.php
RewriteRule    ^admin/dashboard1?$    administrator/source/dashboard/dashboard1.php

RewriteRule    ^admin/builder?$    administrator/source/builder/builder.php
RewriteRule    ^admin/builder/add?$    administrator/source/builder/add-builder.php
RewriteRule    ^admin/builder/edit?$   administrator/source/builder/edit-builder.php
RewriteRule    ^admin/builder/view?$   administrator/source/builder/view-builder.php
RewriteRule    ^admin/builder/delete?$   administrator/source/builder/delete-builder.php

RewriteRule    ^admin/properties?$    administrator/source/properties/properties.php
RewriteRule    ^admin/properties/add?$    administrator/source/properties/add-properties.php
RewriteRule    ^admin/properties/test?$    administrator/source/properties/add-properties.php
RewriteRule    ^admin/properties/edit?$    administrator/source/properties/edit-properties.php
RewriteRule    ^admin/properties/delete?$    administrator/source/properties/delete-properties.php
RewriteRule    ^admin/properties/patnership?$    administrator/source/properties/patnership-properties.php
RewriteRule    ^admin/properties/patnershipCancel?$    administrator/source/properties/patnershipCancel-properties.php
RewriteRule    ^admin/properties/details?$    administrator/source/properties/details-properties.php
RewriteRule    ^admin/properties/view?$    administrator/source/properties/view-properties.php

RewriteRule    ^admin/customers?$    administrator/source/customers/customers.php
RewriteRule    ^admin/customers/add?$    administrator/source/customers/add-customer.php
RewriteRule    ^admin/customers/list?$    administrator/source/customers/list-customer.php
RewriteRule    ^admin/customers/delete?$    administrator/source/customers/delete-customer.php
RewriteRule    ^admin/customers/deleteList?$    administrator/source/customers/delete-customerList.php

RewriteRule    ^admin/amenities?$     administrator/source/amenities/amenities.php
RewriteRule    ^admin/amenities/add?$ administrator/source/amenities/add-amenities.php
RewriteRule    ^admin/amenities/edit?$ administrator/source/amenities/edit-amenities.php
RewriteRule    ^admin/amenities/delete?$ administrator/source/amenities/delete-amenities.php
RewriteRule    ^admin/amenities/view?$ administrator/source/amenities/view-amenities.php

RewriteRule    ^admin/units?$     administrator/source/units/units.php
RewriteRule    ^admin/units/add?$ administrator/source/units/add-units.php
RewriteRule    ^admin/units/edit?$ administrator/source/units/edit-units.php
RewriteRule    ^admin/units/delete?$ administrator/source/units/delete-units.php
RewriteRule    ^admin/units/view?$ administrator/source/units/view-units.php

RewriteRule    ^admin/city?$    administrator/source/city/city.php
RewriteRule    ^admin/city/add?$    administrator/source/city/add-city.php
RewriteRule    ^admin/city/edit?$   administrator/source/city/edit-city.php
RewriteRule    ^admin/city/delete?$ administrator/source/city/delete-city.php

RewriteRule    ^admin/state?$    administrator/source/state/state.php
RewriteRule    ^admin/state/add?$    administrator/source/state/add-state.php
RewriteRule    ^admin/state/edit?$   administrator/source/state/edit-state.php
RewriteRule    ^admin/state/delete?$ administrator/source/state/delete-state.php

RewriteRule    ^admin/country?$    administrator/source/country/country.php
RewriteRule    ^admin/country/add?$    administrator/source/country/add-country.php
RewriteRule    ^admin/country/edit?$   administrator/source/country/edit-country.php
RewriteRule    ^admin/country/delete?$ administrator/source/country/delete-country.php

RewriteRule    ^admin/wing?$    administrator/source/wing/wing.php
RewriteRule    ^admin/wing/add?$    administrator/source/wing/add-wing.php
RewriteRule    ^admin/wing/edit?$   administrator/source/wing/edit-wing.php
RewriteRule    ^admin/wing/delete?$ administrator/source/wing/delete-wing.php
RewriteRule    ^admin/wing/view?$ administrator/source/wing/view-wing.php


RewriteRule    ^admin/un?$    administrator/source/un/un.php
RewriteRule    ^admin/un/add?$    administrator/source/un/add-un.php
RewriteRule    ^admin/un/edit?$   administrator/source/un/edit-un.php
RewriteRule    ^admin/un/delete?$ administrator/source/un/delete-un.php

RewriteRule    ^admin/proType?$    administrator/source/proType/proType.php
RewriteRule    ^admin/proType/add?$    administrator/source/proType/add-proType.php
RewriteRule    ^admin/proType/edit?$   administrator/source/proType/edit-proType.php
RewriteRule    ^admin/proType/delete?$ administrator/source/proType/delete-proType.php


RewriteRule    ^admin/neighbourhoods?$    administrator/source/neighbourhoods/neighbourhoods.php
RewriteRule    ^admin/neighbourhoods/add?$    administrator/source/neighbourhoods/add-neighbourhoods.php
RewriteRule    ^admin/neighbourhoods/edit?$   administrator/source/neighbourhoods/edit-neighbourhoods.php
RewriteRule    ^admin/neighbourhoods/delete?$ administrator/source/neighbourhoods/delete-neighbourhoods.php
RewriteRule    ^admin/neighbourhoods/view?$ administrator/source/neighbourhoods/view-neighbourhoods.php

RewriteRule    ^admin/banner?$    administrator/source/banner/banner.php
RewriteRule    ^admin/banner/add?$    administrator/source/banner/add-banner.php
RewriteRule    ^admin/banner/edit?$   administrator/source/banner/edit-banner.php
RewriteRule    ^admin/banner/delete?$ administrator/source/banner/delete-banner.php
RewriteRule    ^admin/banner/view?$ administrator/source/banner/view-banner.php

RewriteRule    ^admin/team?$    administrator/source/team/team.php
RewriteRule    ^admin/team/add?$    administrator/source/team/add-team.php
RewriteRule    ^admin/team/edit?$   administrator/source/team/edit-team.php
RewriteRule    ^admin/team/delete?$ administrator/source/team/delete-team.php
RewriteRule    ^admin/team/view?$ administrator/source/team/view-team.php

RewriteRule    ^admin/agent?$    administrator/source/agent/agent.php
RewriteRule    ^admin/agent/add?$    administrator/source/agent/add-agent.php
RewriteRule    ^admin/agent/edit?$   administrator/source/agent/edit-agent.php
RewriteRule    ^admin/agent/delete?$ administrator/source/agent/delete-agent.php
RewriteRule    ^admin/agent/view?$ administrator/source/agent/view-agent.php

RewriteRule    ^builder/login?$    administrator/source/builder/login.php
RewriteRule    ^admin/ajaxbuilder?$    administrator/ajax/ajax_food.php
RewriteRule    ^admin/ajaxproperties?$    administrator/ajax/ajax_properties.php
RewriteRule    ^admin/ajaxcontact?$    administrator/ajax/ajax_contact.php
RewriteRule    ^admin/ajaxchat?$    administrator/ajax/ajax_chat.php
RewriteRule    ^admin/ajaxEditproperties?$    administrator/ajax/ajax_editProperties.php
RewriteRule    ^admin/ajaxuser?$    administrator/ajax/ajax_user.php
RewriteRule    ^admin/ajaxFavorite?$    administrator/ajax/ajax_favorite.php
RewriteRule    ^admin/ajaxGroupAdd?$    administrator/ajax/ajax_addGroup.php


RewriteRule    ^admin/api?$    administrator/source/api/addAmenities.php
RewriteRule    ^admin/api/addAmenities?$ administrator/source/api/add-amenities.php
RewriteRule    ^admin/api/editAmenities?$ administrator/source/api/edit-amenities.php
RewriteRule    ^admin/api/deleteAmenities?$ administrator/source/api/delete-amenities.php
RewriteRule    ^admin/api/allAmenities?$ administrator/source/api/all-amenities.php
RewriteRule    ^admin/api/viewAmenities?$ administrator/source/api/view-amenites.php
RewriteRule    ^admin/api/viewAmenities1?$ administrator/source/api/view-amenities.php
RewriteRule    ^admin/api/login?$ administrator/source/api/login.php
RewriteRule    ^admin/api/test?$ administrator/source/api/test.php

RewriteRule    ^admin/api/builder/addBuilder?$ administrator/source/api/builder/add-builder.php
RewriteRule    ^admin/api/builder/editBuilder?$ administrator/source/api/builder/edit-builder.php
RewriteRule    ^admin/api/builder/allBuilder?$ administrator/source/api/builder/all-builder.php


RewriteRule    ^builder/?$    buildermodule/source/index.php
RewriteRule    ^builder/login?$    buildermodule/source/login/login.php
RewriteRule    ^builder/logout?$    buildermodule/source/login/logout.php
RewriteRule    ^builder/dashboard?$    buildermodule/source/dashboard/dashboard.php
RewriteRule    ^builder/properties?$    buildermodule/source/properties/properties.php

RewriteRule    ^admin/floor/add?$    administrator/source/floor/add-floor.php

RewriteRule    ^admin/contact?$    administrator/source/contact/details-contact.php
RewriteRule    ^admin/propertiesGroupUser?$    administrator/source/propertiesGroupUser/details-propertiesGroupUser.php
RewriteRule    ^admin/propertiesGroupUserView?$    administrator/source/propertiesGroupUser/details-propertiesGroupUserView.php




RewriteRule    ^mikha/?$    mikha/index.php
RewriteRule    ^mikha/category?$   mikha/category.php
RewriteRule    ^mikha/category_list?$   mikha/category_list.php
RewriteRule    ^mikha/contact?$   mikha/contact.php
RewriteRule    ^mikha/single?$   mikha/single.php
RewriteRule    ^mikha/singles?$   mikha/singles.php
RewriteRule    ^mikha/message?$   mikha/message.php
RewriteRule    ^mikha/user_profile?$   mikha/user_profile.php
RewriteRule    ^mikha/blog?$   mikha/blog.php
RewriteRule    ^mikha/search?$   mikha/search.php
RewriteRule    ^mikha/search1?$   mikha/search1.php
RewriteRule    ^mikha/search_list?$   mikha/search_list.php
RewriteRule    ^mikha/blog_single?$   mikha/blog_single.php
RewriteRule    ^mikha/about?$   mikha/about.php
RewriteRule    ^mikha/footer?$   mikha/footer.php
RewriteRule    ^mikha/header?$   mikha/header.php
RewriteRule    ^mikha/logout?$   mikha/logout.php
RewriteRule    ^mikha/fav?$   mikha/fav.php
RewriteRule    ^mikha/favList?$   mikha/favList.php
RewriteRule    ^mikha/favadd?$   mikha/favadd.php
RewriteRule    ^mikha/chat?$   mikha/chat.php
RewriteRule    ^mikha/chatGroup?$   mikha/chatGroup.php
RewriteRule    ^mikha/asc?$    mikha/asc.php
RewriteRule    ^mikha/ascA?$    mikha/ascA.php
RewriteRule    ^mikha/deleterequest?$   mikha/deletereques.php
RewriteRule    ^mikha/messagedelte?$    mikha/messagedelte.php

RewriteRule    ^mikha/api/commonApi?$    mikha/api/commonApi.php
RewriteRule    ^mikha/api/register?$    mikha/api/register.php
RewriteRule    ^mikha/api/login?$       mikha/api/login.php
RewriteRule    ^mikha/api/contact?$     mikha/api/contact.php
RewriteRule    ^mikha/api/addfavoraite?$      mikha/api/favoraite.php
RewriteRule    ^mikha/api/allProperties?$  mikha/api/properties.php
RewriteRule    ^mikha/api/userFavList?$ mikha/api/userFavoriteList.php
RewriteRule    ^mikha/api/propertie?$ mikha/api/propertie.php
RewriteRule    ^mikha/api/viewPartner?$ mikha/api/viewPartner.php









